          <div class="form-group">
            <label for="InputPelage">Pelage</label>
            <input class="form-control" type="text" name="pelage" value="<?= ($action=='edit')?$animal->pelage:''; ?>">
          </div>
