<?php include "html_head.html"; ?>
<?php include "html_nav.html"; ?>

    <main role="main" class="container">
<?php if($action == "edit"): ?>
      <h1>Editer un <?= $type; ?></h1>
<?php else: ?>
      <h1>Ajouter un <?= $type; ?></h1>
<?php endif; ?>
      <form action="?page=<?= $type ?>-<?= $action ?>-submit" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<?= ($action=='edit')?$animal->id:''; ?>">
        <div class="form-group">
          <label for="InputNom">Nom</label><span class="text-danger">*</span>
          <input class="form-control" type="text" id="InputNom" name="nom" aria-describedby="RequiredField" required value="<?= ($action=='edit')?$animal->nom:''; ?>">
        </div>
        <div class="form-group">
          <label for="SelectSexe">Sexe</label><span class="text-danger">*</span>
          <select class="form-control" id="SelectSexe" name="sexe" aria-describedby="RequiredField" required>
            <option<?= ($action=='edit' && $animal->sexe == "Mâle")?" selected":""; ?>>Mâle</option>
            <option<?= ($action=='edit' && $animal->sexe == "Femelle")?" selected":""; ?>>Femelle</option>
          </select>
        </div>
        <div class="form-group">
          <label for="InputNaissance">Naissance</label><span class="text-danger">*</span>
          <input class="form-control" type="date" id="InputNaissance" name="naissance" aria-describedby="RequiredField" required value="<?= ($action=='edit')?$animal->naissance:''; ?>">
        </div>
<?php
$file = "src/View/templates/add_edit_" . $type . ".html";
if (file_exists($file)) { include $file; }
?>
<?php if($action=="edit"): ?>
        <div class="form-group">
          <label for="InputImage">Image</label>
          <img src="src/View/images/<?= $animal->image; ?>">
          <input class="form-control-file" type="file" id="InputImage" name="image">
        </div>
<?php else: ?>
        <div class="form-group">
          <label for="InputImage">Image</label>
          <input class="form-control-file" type="file" id="InputImage" name="image">
        </div>
<?php endif; ?>
        <small id="RequiredField" class="form-text text-muted"><span class="text-danger">*</span> Obligatoire</small>
        <div class="form-group text-right">
          <button class="btn btn-primary" type="submit" name="btn_valider">Valider</button>
        </div>
      </form>
    </main><!-- /.container -->
<?php include "html_foot.html"; ?>
<?php include "html_end.html"; ?>