<?php include "html_head.html"; ?>
<?php include "html_nav.html"; ?>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Les Chats</h1>
        <p class="lead">
          Voici les chats disponibles&nbsp;:
        </p>
        
        <form action="?page=chat-add" method="POST" class="text-right">
          <button type="submit" name="btn_add" class="btn btn-success">
            <span class="fas fa-plus"></span> Ajouter
          </button>
        </form>
        
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Sexe</th>
              <th scope="col">Age</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
  <?php foreach($rows as $chat): ?>
              <tr class="table-row" data-href="?page=chat&id=<?= $chat->id; ?>">
                <td><?= $chat->nom; ?></td>
                <td><?= $chat->sexe; ?></td>
                <td><?= $chat->age(); ?></td>
                <th>
                  <form action="?page=chat-edit" method="POST">
                    <input type="hidden" name="id" value="<?= $chat->id; ?>">
                    <button type="submit" name="btn_edit" class="btn btn-primary">
                      <span class="fas fa-edit"></span> Editer
                    </button>
                  </form>
                </th>
                <th>
                  <form action="?page=chat-remove" method="POST">
                    <input type="hidden" name="id" value="<?= $chat->id; ?>">
                    <button type="submit" name="btn_remove" class="btn btn-danger">
                      <span class="fas fa-trash-alt"></span> Supprimer
                    </button>
                  </form>
                </th>
              </tr>
<?php endforeach; ?>
          </tbody>
        </table>
      </div>

    </main><!-- /.container -->

<?php include "html_foot.html"; ?>
  <script>
    $(document).ready(function($) {
      $(".table-row").click(function() {
        window.document.location = $(this).data("href");
      });
    });
  </script>

<?php include "html_end.html"; ?>