<?php include "html_head.html"; ?>
<?php include "html_nav.html"; ?>

    <main role="main" class="container">
      <div class="starter-template">
        <h1>Oups...</h1>
        <p class="lead">
          <?= $message; ?>
        </p>
      </div>
    </main><!-- /.container -->
<?php include "html_foot.html"; ?>
<?php include "html_end.html"; ?>