<?php include "html_head.html"; ?>
<?php include "html_nav.html"; ?>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Fiche Signalétique</h1>
        <p class="lead">
          Détails&nbsp;:
        </p>
        <div id="image" class="col-md-4 col-sm-6 img-thumbnail mx-auto"></div>
        <table class="table table-bordered table-sm">
          <tbody>
              <tr>
                <th scope="row">Nom</th>
                <td><?= $chat->nom; ?></td>
              </tr>
              <tr>
                <th scope="row">Sexe</th>
                <td><?= $chat->sexe; ?></td>
              </tr>
              <tr>
                <th scope="row">Age</th>
                <td><?= $chat->age(); ?></td>
              </tr>
              <tr>
                <th scope="row">Pelage</th>
                <td><?= $chat->pelage; ?></td>
              </tr>
          </tbody>
        </table>
      </div>

    </main><!-- /.container -->

    <style>
      #image
      {
        background-image: url('src/View/images/<?= $chat->image; ?>');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 95%;
        height: 200px;
      }
    </style>

<?php include "html_foot.html"; ?>
<?php include "html_end.html"; ?>